body {
  background: linear-gradient(
      to top,
      #1a1a2e, 
      #1e2a38, 
      #22334a, 
      #263b5c, 
      #2a446e
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* Stilizare pentru bara de sus */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: #1f1f1f; /* Culoare negru-deschis */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: white;
  position: fixed;
  top: 0;
  width: 98%;
  z-index: 1000;
}

/* Logo-ul aplicației */
.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

/* Linkurile de navigare */
.navbar-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #00bfff; /* Culoare accent la hover */
}

/* Butonul de Login */
.login-button {
  background-color: #0078ff; /* Albastru */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #005bb5; /* Albastru mai închis la hover */
}
